{% extends 'base.html' %}
{% load static %} 

{% block content %}
<style>
  .login-form {
    border-radius: 10px;
  }
  .login-card-body {
    background-color: #FFFFFF;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 10px !important;
    padding: 0px;
  }
  .login-card-body p {
    background-color: #2e364a;
    color: white;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  .login-card-body form {
    padding: 20px;
  }
  .sign-button{
    background-color: #2e364a;
    color: #ffffff;
    /* font-size: 18px; */
    border-radius: 20px;
    transform: scale(0.96);
  }
  .sign-button:hover{
      background-color: #242b3b;
      border-radius: 23px;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1); /* IE 9 */
      transform: scale(1);
      transition: all 0.3s ease-in-out 0s;
      box-shadow: 0 0 10px #30394E;
  }
</style>

    <body class="hold-transition login-page" style="background-color: #ffffff;">
<div class="login-box">
  <!-- <div class="login-logo">
    <a href="{% url 'login' %}"><b>Student </b>Management System</a>
  </div> -->
  <!-- /.login-logo -->
  <div class="card login-form">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in</p>

      <form action="{% url 'doLogin' %}" method="POST">
      {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block sign-button">Sign In</button>
          </div>

          {% comment %} <div class="col-12 text-center">
            <a href="{% url 'password_reset' %}">Reset Password</a>
          </div>  {% endcomment %}

          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}

          <!-- /.col -->
        </div>
      </form>


  </div>
</div>
<!-- /.login-box -->

{% endblock %}